# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# MacOSX project files ignore
*.xcodeproj
.DS_Store

# Codeblocks project files
*.cbp
*.depend
*.layout

# Assets folder
src/assets
bin